<h1><%= @pokemon.name %></h1>
<div class="clearfix">
  <div class="stats panel right">
    <h2 class="center">Stats</h2>
    <ul>
      <li><span>Age:</span> <%= @pokemon.age %></li>
      <li><span>Strength:</span> <%= @pokemon.strength %></li>
      <li><span>Ability:</span> <%= @pokemon.ability.capitalize %></li>
      <li><span>Type:</span> <%= @pokemon.poketype.capitalize %></li>
    </ul>
  </div>
  <div class="left">
    <%= image_tag("psyduck.png") %>
  </div>
</div>

<%= form_for [@pokemon, @review] do |f| %>
  <%= f.label :body, "Leave a review" %>
  <%= f.text_field :body %>

  <%= f.label :rating, "Rating (scale of 1 - 5)" %>
  <%= f.text_field :rating %>

  <%= f.submit "Add Review", class: "button" %>
<% end %>

<h2>Reviews</h2>
  <% if @reviews.present? %>
    <% @reviews.each do |review| %>
      <div class="reviews panel">
        <ul>
          <li>Rating: <%= review.rating %></li>
          <li>Review: <%= review.body %></li>
        </ul>
      </div>
    <% end %>
  <% end %>
